<div>
    <textarea id="sbi-input" wrap="hard" cols="1"
        placeholder="Usage:
- Paste the full statblock text into this box. It should follow WotC formatting to be imported correctly.
- If you need to, you can edit the text here to fix any errors and then re-import.

Report any bugs using the module link, and add the statblock you were trying to import."></textarea>
    <section id="sbi-bottom">
        <span id="sbi-import-text">Folder to import to:</span>
        <select id="sbi-import-select"></select>
        <button id="sbi-import-button" type="button">Import</button>
    </section>
</div>