#sbi-main-button {
    width: 97%;
}

#sbi-bottom {
    display: flex;
    gap: 5px;
}

#sbi-import-text {
    align-self: center;
}

#sbi-import-select {
    width: 33%;
    align-self: center;
}

#sbi-import-button {
    width: 33%;
    margin-left: auto;
}

#sbi-input {
    height: 500px;
    margin-bottom: 5px;
    resize: none;
}